<div>
    <h2 id="page-heading">
        <span jhiTranslate="shopApp.accessToken.home.title">Access Tokens</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-access-token" [routerLink]="['/access-token/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="shopApp.accessToken.home.createLabel">
            Create a new Access Token
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="accessTokens?.length === 0">
        <span jhiTranslate="shopApp.accessToken.home.notFound">No accessTokens found</span>
    </div>
    <div class="table-responsive" *ngIf="accessTokens?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="token"><span jhiTranslate="shopApp.accessToken.token">Token</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="shopUserId"><span jhiTranslate="shopApp.accessToken.shopUser">Shop User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="shopUserIdId"><span jhiTranslate="shopApp.accessToken.shopUserId">Shop User Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let accessToken of accessTokens ;trackBy: trackId">
                <td><a [routerLink]="['/access-token', accessToken.id, 'view' ]">{{accessToken.id}}</a></td>
                <td>{{accessToken.token}}</td>
                <td>
                    <div *ngIf="accessToken.shopUserId">
                        <a [routerLink]="['/shop-user', accessToken.shopUserId , 'view' ]" >{{accessToken.shopUserId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="accessToken.shopUserIdId">
                        <a [routerLink]="['/shop-user', accessToken.shopUserIdId , 'view' ]" >{{accessToken.shopUserIdId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/access-token', accessToken.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/access-token', accessToken.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/access-token', { outlets: { popup: accessToken.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="accessTokens?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
