<div>
    <h2 id="page-heading">
        <span jhiTranslate="shopApp.orderLog.home.title">Order Logs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-order-log" [routerLink]="['/order-log/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="shopApp.orderLog.home.createLabel">
            Create a new Order Log
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="orderLogs?.length === 0">
        <span jhiTranslate="shopApp.orderLog.home.notFound">No orderLogs found</span>
    </div>
    <div class="table-responsive" *ngIf="orderLogs?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="invoiceNo"><span jhiTranslate="shopApp.orderLog.invoiceNo">Invoice No</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="invocePerfix"><span jhiTranslate="shopApp.orderLog.invocePerfix">Invoce Perfix</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="firstname"><span jhiTranslate="shopApp.orderLog.firstname">Firstname</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="lastname"><span jhiTranslate="shopApp.orderLog.lastname">Lastname</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="email"><span jhiTranslate="shopApp.orderLog.email">Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="telephone"><span jhiTranslate="shopApp.orderLog.telephone">Telephone</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="fax"><span jhiTranslate="shopApp.orderLog.fax">Fax</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="shippingFristname"><span jhiTranslate="shopApp.orderLog.shippingFristname">Shipping Fristname</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="shippingLastname"><span jhiTranslate="shopApp.orderLog.shippingLastname">Shipping Lastname</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="shippingCompany"><span jhiTranslate="shopApp.orderLog.shippingCompany">Shipping Company</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="shippingAddress1"><span jhiTranslate="shopApp.orderLog.shippingAddress1">Shipping Address 1</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="shippingAddress2"><span jhiTranslate="shopApp.orderLog.shippingAddress2">Shipping Address 2</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="shippingCity"><span jhiTranslate="shopApp.orderLog.shippingCity">Shipping City</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="shippingPostcode"><span jhiTranslate="shopApp.orderLog.shippingPostcode">Shipping Postcode</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="shippingCountry"><span jhiTranslate="shopApp.orderLog.shippingCountry">Shipping Country</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="shippingZone"><span jhiTranslate="shopApp.orderLog.shippingZone">Shipping Zone</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="shippingAddressFormat"><span jhiTranslate="shopApp.orderLog.shippingAddressFormat">Shipping Address Format</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="shippingMethod"><span jhiTranslate="shopApp.orderLog.shippingMethod">Shipping Method</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="paymentFirstname"><span jhiTranslate="shopApp.orderLog.paymentFirstname">Payment Firstname</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="paymentLastname"><span jhiTranslate="shopApp.orderLog.paymentLastname">Payment Lastname</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="paymentCompany"><span jhiTranslate="shopApp.orderLog.paymentCompany">Payment Company</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="paymentAddress1"><span jhiTranslate="shopApp.orderLog.paymentAddress1">Payment Address 1</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="paymentAddress2"><span jhiTranslate="shopApp.orderLog.paymentAddress2">Payment Address 2</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="paymentCity"><span jhiTranslate="shopApp.orderLog.paymentCity">Payment City</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="paymentPostcode"><span jhiTranslate="shopApp.orderLog.paymentPostcode">Payment Postcode</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="paymentCountry"><span jhiTranslate="shopApp.orderLog.paymentCountry">Payment Country</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="paymentZone"><span jhiTranslate="shopApp.orderLog.paymentZone">Payment Zone</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="paymentAddressFormat"><span jhiTranslate="shopApp.orderLog.paymentAddressFormat">Payment Address Format</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="paymentMethod"><span jhiTranslate="shopApp.orderLog.paymentMethod">Payment Method</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="comment"><span jhiTranslate="shopApp.orderLog.comment">Comment</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="total"><span jhiTranslate="shopApp.orderLog.total">Total</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="reward"><span jhiTranslate="shopApp.orderLog.reward">Reward</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="commision"><span jhiTranslate="shopApp.orderLog.commision">Commision</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="currencyCode"><span jhiTranslate="shopApp.orderLog.currencyCode">Currency Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="currencyValue"><span jhiTranslate="shopApp.orderLog.currencyValue">Currency Value</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="ip"><span jhiTranslate="shopApp.orderLog.ip">Ip</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="paymentFlag"><span jhiTranslate="shopApp.orderLog.paymentFlag">Payment Flag</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="orderName"><span jhiTranslate="shopApp.orderLog.orderName">Order Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="isActive"><span jhiTranslate="shopApp.orderLog.isActive">Is Active</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="createdBy"><span jhiTranslate="shopApp.orderLog.createdBy">Created By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="modifiedBy"><span jhiTranslate="shopApp.orderLog.modifiedBy">Modified By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="createdDate"><span jhiTranslate="shopApp.orderLog.createdDate">Created Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="modifiedDate"><span jhiTranslate="shopApp.orderLog.modifiedDate">Modified Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="customerIdId"><span jhiTranslate="shopApp.orderLog.customerId">Customer Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="currencyIdId"><span jhiTranslate="shopApp.orderLog.currencyId">Currency Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="orderStatusIdId"><span jhiTranslate="shopApp.orderLog.orderStatusId">Order Status Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let orderLog of orderLogs ;trackBy: trackId">
                <td><a [routerLink]="['/order-log', orderLog.id, 'view' ]">{{orderLog.id}}</a></td>
                <td>{{orderLog.invoiceNo}}</td>
                <td>{{orderLog.invocePerfix}}</td>
                <td>{{orderLog.firstname}}</td>
                <td>{{orderLog.lastname}}</td>
                <td>{{orderLog.email}}</td>
                <td>{{orderLog.telephone}}</td>
                <td>{{orderLog.fax}}</td>
                <td>{{orderLog.shippingFristname}}</td>
                <td>{{orderLog.shippingLastname}}</td>
                <td>{{orderLog.shippingCompany}}</td>
                <td>{{orderLog.shippingAddress1}}</td>
                <td>{{orderLog.shippingAddress2}}</td>
                <td>{{orderLog.shippingCity}}</td>
                <td>{{orderLog.shippingPostcode}}</td>
                <td>{{orderLog.shippingCountry}}</td>
                <td>{{orderLog.shippingZone}}</td>
                <td>{{orderLog.shippingAddressFormat}}</td>
                <td>{{orderLog.shippingMethod}}</td>
                <td>{{orderLog.paymentFirstname}}</td>
                <td>{{orderLog.paymentLastname}}</td>
                <td>{{orderLog.paymentCompany}}</td>
                <td>{{orderLog.paymentAddress1}}</td>
                <td>{{orderLog.paymentAddress2}}</td>
                <td>{{orderLog.paymentCity}}</td>
                <td>{{orderLog.paymentPostcode}}</td>
                <td>{{orderLog.paymentCountry}}</td>
                <td>{{orderLog.paymentZone}}</td>
                <td>{{orderLog.paymentAddressFormat}}</td>
                <td>{{orderLog.paymentMethod}}</td>
                <td>{{orderLog.comment}}</td>
                <td>{{orderLog.total}}</td>
                <td>{{orderLog.reward}}</td>
                <td>{{orderLog.commision}}</td>
                <td>{{orderLog.currencyCode}}</td>
                <td>{{orderLog.currencyValue}}</td>
                <td>{{orderLog.ip}}</td>
                <td>{{orderLog.paymentFlag}}</td>
                <td>{{orderLog.orderName}}</td>
                <td>{{orderLog.isActive}}</td>
                <td>{{orderLog.createdBy}}</td>
                <td>{{orderLog.modifiedBy}}</td>
                <td>{{orderLog.createdDate}}</td>
                <td>{{orderLog.modifiedDate}}</td>
                <td>
                    <div *ngIf="orderLog.customerIdId">
                        <a [routerLink]="['/customer', orderLog.customerIdId , 'view' ]" >{{orderLog.customerIdId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="orderLog.currencyIdId">
                        <a [routerLink]="['/currency', orderLog.currencyIdId , 'view' ]" >{{orderLog.currencyIdId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="orderLog.orderStatusIdId">
                        <a [routerLink]="['/order-status', orderLog.orderStatusIdId , 'view' ]" >{{orderLog.orderStatusIdId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/order-log', orderLog.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/order-log', orderLog.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/order-log', { outlets: { popup: orderLog.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="orderLogs?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
