<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-user-group-heading" jhiTranslate="shopApp.userGroup.home.createOrEditLabel">Create or edit a User Group</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shopApp.userGroup.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shopApp.userGroup.slug" for="field_slug">Slug</label>
                    <input type="text" class="form-control" name="slug" id="field_slug"
                           formControlName="slug"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shopApp.userGroup.isActive" for="field_isActive">Is Active</label>
                    <input type="number" class="form-control" name="isActive" id="field_isActive"
                           formControlName="isActive"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shopApp.userGroup.createdBy" for="field_createdBy">Created By</label>
                    <input type="number" class="form-control" name="createdBy" id="field_createdBy"
                           formControlName="createdBy"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shopApp.userGroup.modifiedBy" for="field_modifiedBy">Modified By</label>
                    <input type="number" class="form-control" name="modifiedBy" id="field_modifiedBy"
                           formControlName="modifiedBy"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shopApp.userGroup.createdDate" for="field_createdDate">Created Date</label>
                    <input type="text" class="form-control" name="createdDate" id="field_createdDate"
                           formControlName="createdDate"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shopApp.userGroup.modifiedDate" for="field_modifiedDate">Modified Date</label>
                    <input type="text" class="form-control" name="modifiedDate" id="field_modifiedDate"
                           formControlName="modifiedDate"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
