<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-country-heading" jhiTranslate="shopApp.country.home.createOrEditLabel">Create or edit a Country</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shopApp.country.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shopApp.country.isoCode2" for="field_isoCode2">Iso Code 2</label>
                    <input type="text" class="form-control" name="isoCode2" id="field_isoCode2"
                           formControlName="isoCode2"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shopApp.country.isoCode3" for="field_isoCode3">Iso Code 3</label>
                    <input type="text" class="form-control" name="isoCode3" id="field_isoCode3"
                           formControlName="isoCode3"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shopApp.country.addressFormat" for="field_addressFormat">Address Format</label>
                    <input type="text" class="form-control" name="addressFormat" id="field_addressFormat"
                           formControlName="addressFormat"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shopApp.country.postCodeRequired" for="field_postCodeRequired">Post Code Required</label>
                    <input type="number" class="form-control" name="postCodeRequired" id="field_postCodeRequired"
                           formControlName="postCodeRequired"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shopApp.country.isActive" for="field_isActive">Is Active</label>
                    <input type="number" class="form-control" name="isActive" id="field_isActive"
                           formControlName="isActive"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shopApp.country.createdBy" for="field_createdBy">Created By</label>
                    <input type="number" class="form-control" name="createdBy" id="field_createdBy"
                           formControlName="createdBy"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shopApp.country.modifiedBy" for="field_modifiedBy">Modified By</label>
                    <input type="number" class="form-control" name="modifiedBy" id="field_modifiedBy"
                           formControlName="modifiedBy"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shopApp.country.createdDate" for="field_createdDate">Created Date</label>
                    <input type="text" class="form-control" name="createdDate" id="field_createdDate"
                           formControlName="createdDate"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shopApp.country.modifiedDate" for="field_modifiedDate">Modified Date</label>
                    <input type="text" class="form-control" name="modifiedDate" id="field_modifiedDate"
                           formControlName="modifiedDate"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
