<div>
    <h2 id="page-heading">
        <span jhiTranslate="shopApp.orderHistory.home.title">Order Histories</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-order-history" [routerLink]="['/order-history/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="shopApp.orderHistory.home.createLabel">
            Create a new Order History
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="orderHistories?.length === 0">
        <span jhiTranslate="shopApp.orderHistory.home.notFound">No orderHistories found</span>
    </div>
    <div class="table-responsive" *ngIf="orderHistories?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="notify"><span jhiTranslate="shopApp.orderHistory.notify">Notify</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="comment"><span jhiTranslate="shopApp.orderHistory.comment">Comment</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dateAdded"><span jhiTranslate="shopApp.orderHistory.dateAdded">Date Added</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="isActive"><span jhiTranslate="shopApp.orderHistory.isActive">Is Active</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="createdBy"><span jhiTranslate="shopApp.orderHistory.createdBy">Created By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="modifiedBy"><span jhiTranslate="shopApp.orderHistory.modifiedBy">Modified By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="createdDate"><span jhiTranslate="shopApp.orderHistory.createdDate">Created Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="modifiedDate"><span jhiTranslate="shopApp.orderHistory.modifiedDate">Modified Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let orderHistory of orderHistories ;trackBy: trackId">
                <td><a [routerLink]="['/order-history', orderHistory.id, 'view' ]">{{orderHistory.id}}</a></td>
                <td>{{orderHistory.notify}}</td>
                <td>{{orderHistory.comment}}</td>
                <td>{{orderHistory.dateAdded}}</td>
                <td>{{orderHistory.isActive}}</td>
                <td>{{orderHistory.createdBy}}</td>
                <td>{{orderHistory.modifiedBy}}</td>
                <td>{{orderHistory.createdDate}}</td>
                <td>{{orderHistory.modifiedDate}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/order-history', orderHistory.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/order-history', orderHistory.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/order-history', { outlets: { popup: orderHistory.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="orderHistories?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
