<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-address-heading" jhiTranslate="shopApp.address.home.createOrEditLabel">Create or edit a Address</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shopApp.address.firstName" for="field_firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="field_firstName"
                           formControlName="firstName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shopApp.address.lastName" for="field_lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                           formControlName="lastName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shopApp.address.company" for="field_company">Company</label>
                    <input type="text" class="form-control" name="company" id="field_company"
                           formControlName="company"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shopApp.address.password" for="field_password">Password</label>
                    <input type="text" class="form-control" name="password" id="field_password"
                           formControlName="password"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shopApp.address.address1" for="field_address1">Address 1</label>
                    <input type="text" class="form-control" name="address1" id="field_address1"
                           formControlName="address1"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shopApp.address.address2" for="field_address2">Address 2</label>
                    <input type="text" class="form-control" name="address2" id="field_address2"
                           formControlName="address2"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shopApp.address.postcode" for="field_postcode">Postcode</label>
                    <input type="text" class="form-control" name="postcode" id="field_postcode"
                           formControlName="postcode"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shopApp.address.city" for="field_city">City</label>
                    <input type="text" class="form-control" name="city" id="field_city"
                           formControlName="city"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shopApp.address.state" for="field_state">State</label>
                    <input type="text" class="form-control" name="state" id="field_state"
                           formControlName="state"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shopApp.address.addressType" for="field_addressType">Address Type</label>
                    <input type="number" class="form-control" name="addressType" id="field_addressType"
                           formControlName="addressType"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shopApp.address.isActive" for="field_isActive">Is Active</label>
                    <input type="number" class="form-control" name="isActive" id="field_isActive"
                           formControlName="isActive"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shopApp.address.createdBy" for="field_createdBy">Created By</label>
                    <input type="number" class="form-control" name="createdBy" id="field_createdBy"
                           formControlName="createdBy"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shopApp.address.modifiedBy" for="field_modifiedBy">Modified By</label>
                    <input type="number" class="form-control" name="modifiedBy" id="field_modifiedBy"
                           formControlName="modifiedBy"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shopApp.address.createdDate" for="field_createdDate">Created Date</label>
                    <input type="text" class="form-control" name="createdDate" id="field_createdDate"
                           formControlName="createdDate"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shopApp.address.modifiedDate" for="field_modifiedDate">Modified Date</label>
                    <input type="text" class="form-control" name="modifiedDate" id="field_modifiedDate"
                           formControlName="modifiedDate"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shopApp.address.customerId" for="field_customerId">Customer Id</label>
                    <select class="form-control" id="field_customerId" name="customerId" formControlName="customerIdId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="customerOption.id" *ngFor="let customerOption of customers; trackBy: trackCustomerById">{{customerOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shopApp.address.countryId" for="field_countryId">Country Id</label>
                    <select class="form-control" id="field_countryId" name="countryId" formControlName="countryIdId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="countryOption.id" *ngFor="let countryOption of countries; trackBy: trackCountryById">{{countryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shopApp.address.zoneId" for="field_zoneId">Zone Id</label>
                    <select class="form-control" id="field_zoneId" name="zoneId" formControlName="zoneIdId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="zoneOption.id" *ngFor="let zoneOption of zones; trackBy: trackZoneById">{{zoneOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
