<div>
    <h2 id="page-heading">
        <span jhiTranslate="shopApp.productDiscount.home.title">Product Discounts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-product-discount" [routerLink]="['/product-discount/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="shopApp.productDiscount.home.createLabel">
            Create a new Product Discount
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="productDiscounts?.length === 0">
        <span jhiTranslate="shopApp.productDiscount.home.notFound">No productDiscounts found</span>
    </div>
    <div class="table-responsive" *ngIf="productDiscounts?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="quantity"><span jhiTranslate="shopApp.productDiscount.quantity">Quantity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="priority"><span jhiTranslate="shopApp.productDiscount.priority">Priority</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="pirce"><span jhiTranslate="shopApp.productDiscount.pirce">Pirce</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dateStart"><span jhiTranslate="shopApp.productDiscount.dateStart">Date Start</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dateEnd"><span jhiTranslate="shopApp.productDiscount.dateEnd">Date End</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="isActive"><span jhiTranslate="shopApp.productDiscount.isActive">Is Active</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="createdBy"><span jhiTranslate="shopApp.productDiscount.createdBy">Created By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="modifiedBy"><span jhiTranslate="shopApp.productDiscount.modifiedBy">Modified By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="createdDate"><span jhiTranslate="shopApp.productDiscount.createdDate">Created Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="modifiedDate"><span jhiTranslate="shopApp.productDiscount.modifiedDate">Modified Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let productDiscount of productDiscounts ;trackBy: trackId">
                <td><a [routerLink]="['/product-discount', productDiscount.id, 'view' ]">{{productDiscount.id}}</a></td>
                <td>{{productDiscount.quantity}}</td>
                <td>{{productDiscount.priority}}</td>
                <td>{{productDiscount.pirce}}</td>
                <td>{{productDiscount.dateStart}}</td>
                <td>{{productDiscount.dateEnd}}</td>
                <td>{{productDiscount.isActive}}</td>
                <td>{{productDiscount.createdBy}}</td>
                <td>{{productDiscount.modifiedBy}}</td>
                <td>{{productDiscount.createdDate}}</td>
                <td>{{productDiscount.modifiedDate}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/product-discount', productDiscount.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/product-discount', productDiscount.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/product-discount', { outlets: { popup: productDiscount.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="productDiscounts?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
