<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="manufacturer">
            <h2><span jhiTranslate="shopApp.manufacturer.detail.title">Manufacturer</span> {{manufacturer.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="shopApp.manufacturer.name">Name</span></dt>
                <dd>
                    <span>{{manufacturer.name}}</span>
                </dd>
                <dt><span jhiTranslate="shopApp.manufacturer.image">Image</span></dt>
                <dd>
                    <span>{{manufacturer.image}}</span>
                </dd>
                <dt><span jhiTranslate="shopApp.manufacturer.imagePath">Image Path</span></dt>
                <dd>
                    <span>{{manufacturer.imagePath}}</span>
                </dd>
                <dt><span jhiTranslate="shopApp.manufacturer.sortOrder">Sort Order</span></dt>
                <dd>
                    <span>{{manufacturer.sortOrder}}</span>
                </dd>
                <dt><span jhiTranslate="shopApp.manufacturer.isActive">Is Active</span></dt>
                <dd>
                    <span>{{manufacturer.isActive}}</span>
                </dd>
                <dt><span jhiTranslate="shopApp.manufacturer.createdBy">Created By</span></dt>
                <dd>
                    <span>{{manufacturer.createdBy}}</span>
                </dd>
                <dt><span jhiTranslate="shopApp.manufacturer.modifiedBy">Modified By</span></dt>
                <dd>
                    <span>{{manufacturer.modifiedBy}}</span>
                </dd>
                <dt><span jhiTranslate="shopApp.manufacturer.createdDate">Created Date</span></dt>
                <dd>
                    <span>{{manufacturer.createdDate}}</span>
                </dd>
                <dt><span jhiTranslate="shopApp.manufacturer.modifiedDate">Modified Date</span></dt>
                <dd>
                    <span>{{manufacturer.modifiedDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/manufacturer', manufacturer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
