<div>
    <h2 id="page-heading">
        <span jhiTranslate="shopApp.customer.home.title">Customers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-customer" [routerLink]="['/customer/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="shopApp.customer.home.createLabel">
            Create a new Customer
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="customers?.length === 0">
        <span jhiTranslate="shopApp.customer.home.notFound">No customers found</span>
    </div>
    <div class="table-responsive" *ngIf="customers?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="firstName"><span jhiTranslate="shopApp.customer.firstName">First Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="lastName"><span jhiTranslate="shopApp.customer.lastName">Last Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="username"><span jhiTranslate="shopApp.customer.username">Username</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="email"><span jhiTranslate="shopApp.customer.email">Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="password"><span jhiTranslate="shopApp.customer.password">Password</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="mobile"><span jhiTranslate="shopApp.customer.mobile">Mobile</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="address"><span jhiTranslate="shopApp.customer.address">Address</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="city"><span jhiTranslate="shopApp.customer.city">City</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="pincode"><span jhiTranslate="shopApp.customer.pincode">Pincode</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="avatar"><span jhiTranslate="shopApp.customer.avatar">Avatar</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="avatarPath"><span jhiTranslate="shopApp.customer.avatarPath">Avatar Path</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="mailStatus"><span jhiTranslate="shopApp.customer.mailStatus">Mail Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="deleteFlag"><span jhiTranslate="shopApp.customer.deleteFlag">Delete Flag</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="lastlogin"><span jhiTranslate="shopApp.customer.lastlogin">Lastlogin</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="newsletter"><span jhiTranslate="shopApp.customer.newsletter">Newsletter</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="safe"><span jhiTranslate="shopApp.customer.safe">Safe</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="ip"><span jhiTranslate="shopApp.customer.ip">Ip</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="isActive"><span jhiTranslate="shopApp.customer.isActive">Is Active</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="createdBy"><span jhiTranslate="shopApp.customer.createdBy">Created By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="modifiedBy"><span jhiTranslate="shopApp.customer.modifiedBy">Modified By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="createdDate"><span jhiTranslate="shopApp.customer.createdDate">Created Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="modifiedDate"><span jhiTranslate="shopApp.customer.modifiedDate">Modified Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="countryIdId"><span jhiTranslate="shopApp.customer.countryId">Country Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="zoneIdId"><span jhiTranslate="shopApp.customer.zoneId">Zone Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="customerGroupIdId"><span jhiTranslate="shopApp.customer.customerGroupId">Customer Group Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let customer of customers ;trackBy: trackId">
                <td><a [routerLink]="['/customer', customer.id, 'view' ]">{{customer.id}}</a></td>
                <td>{{customer.firstName}}</td>
                <td>{{customer.lastName}}</td>
                <td>{{customer.username}}</td>
                <td>{{customer.email}}</td>
                <td>{{customer.password}}</td>
                <td>{{customer.mobile}}</td>
                <td>{{customer.address}}</td>
                <td>{{customer.city}}</td>
                <td>{{customer.pincode}}</td>
                <td>{{customer.avatar}}</td>
                <td>{{customer.avatarPath}}</td>
                <td>{{customer.mailStatus}}</td>
                <td>{{customer.deleteFlag}}</td>
                <td>{{customer.lastlogin}}</td>
                <td>{{customer.newsletter}}</td>
                <td>{{customer.safe}}</td>
                <td>{{customer.ip}}</td>
                <td>{{customer.isActive}}</td>
                <td>{{customer.createdBy}}</td>
                <td>{{customer.modifiedBy}}</td>
                <td>{{customer.createdDate}}</td>
                <td>{{customer.modifiedDate}}</td>
                <td>
                    <div *ngIf="customer.countryIdId">
                        <a [routerLink]="['/country', customer.countryIdId , 'view' ]" >{{customer.countryIdId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="customer.zoneIdId">
                        <a [routerLink]="['/zone', customer.zoneIdId , 'view' ]" >{{customer.zoneIdId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="customer.customerGroupIdId">
                        <a [routerLink]="['/customer-group', customer.customerGroupIdId , 'view' ]" >{{customer.customerGroupIdId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/customer', customer.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/customer', customer.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/customer', { outlets: { popup: customer.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="customers?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
