<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-shop-page-heading" jhiTranslate="shopApp.shopPage.home.createOrEditLabel">Create or edit a Shop Page</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shopApp.shopPage.title" for="field_title">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                           formControlName="title"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shopApp.shopPage.intro" for="field_intro">Intro</label>
                    <input type="text" class="form-control" name="intro" id="field_intro"
                           formControlName="intro"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shopApp.shopPage.fullText" for="field_fullText">Full Text</label>
                    <input type="text" class="form-control" name="fullText" id="field_fullText"
                           formControlName="fullText"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shopApp.shopPage.sortOrder" for="field_sortOrder">Sort Order</label>
                    <input type="number" class="form-control" name="sortOrder" id="field_sortOrder"
                           formControlName="sortOrder"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shopApp.shopPage.metaTagTitle" for="field_metaTagTitle">Meta Tag Title</label>
                    <input type="text" class="form-control" name="metaTagTitle" id="field_metaTagTitle"
                           formControlName="metaTagTitle"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shopApp.shopPage.metaTagDescroption" for="field_metaTagDescroption">Meta Tag Descroption</label>
                    <input type="text" class="form-control" name="metaTagDescroption" id="field_metaTagDescroption"
                           formControlName="metaTagDescroption"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shopApp.shopPage.metaTagKeywords" for="field_metaTagKeywords">Meta Tag Keywords</label>
                    <input type="text" class="form-control" name="metaTagKeywords" id="field_metaTagKeywords"
                           formControlName="metaTagKeywords"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shopApp.shopPage.viewPageCount" for="field_viewPageCount">View Page Count</label>
                    <input type="number" class="form-control" name="viewPageCount" id="field_viewPageCount"
                           formControlName="viewPageCount"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shopApp.shopPage.isActive" for="field_isActive">Is Active</label>
                    <input type="number" class="form-control" name="isActive" id="field_isActive"
                           formControlName="isActive"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shopApp.shopPage.createdBy" for="field_createdBy">Created By</label>
                    <input type="number" class="form-control" name="createdBy" id="field_createdBy"
                           formControlName="createdBy"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shopApp.shopPage.modifiedBy" for="field_modifiedBy">Modified By</label>
                    <input type="number" class="form-control" name="modifiedBy" id="field_modifiedBy"
                           formControlName="modifiedBy"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shopApp.shopPage.createdDate" for="field_createdDate">Created Date</label>
                    <input type="text" class="form-control" name="createdDate" id="field_createdDate"
                           formControlName="createdDate"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shopApp.shopPage.modifiedDate" for="field_modifiedDate">Modified Date</label>
                    <input type="text" class="form-control" name="modifiedDate" id="field_modifiedDate"
                           formControlName="modifiedDate"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
